    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: 'Rakkas', cursive;
        text-align: center;
    }
    
    body {
        font-family: 'Kufam', cursive;
        direction: rtl;
        text-align: center;
    }
    
    body h2 {
        font-style: italic;
        font-weight: bold;
        color: blue;
        background: #FFFFFF;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }
    
    .navbar-brand span {
        font-size: 2rem;
    }
    
    .navbar {
        padding: 0%!important;
    }
    
    .navbar .navbar-nav li {
        margin-right: 1%;
        font-size: larger;
    }
    
    .navbar .dropdown .dropdown-menu a {
        text-align: center;
        border: none;
    }
    
    .why-us-section {}
    
    .why-us-section .card {
        border: none;
        margin: 0;
    }
    
    .why-us-section img {
        text-align: center;
        margin: 0 auto;
    }
    
    .why-us-section li {
        font-weight: 700;
        list-style: none;
        border: none;
        font-size: larger;
    }
    
    .slide-in-left {
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    }
    
    #myTabContent {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        background-image: url('../img/giphy\ \(1\).webp');
    }
    
    #myTabContent img {
        border-radius: 10px;
    }
    
    .products .card {
        border-radius: 20px;
        border: none;
        margin-bottom: 1%;
        background-color: transparent;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.20);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    
    .products .card h5 {
        color: blue;
        font-weight: 900;
        word-wrap: none;
        word-break: keep-all;
        text-align: center;
        margin: 0 auto;
    }
    
    .products .card .card-body {
        text-align: center;
    }
    
    .products .meals-desc {
        color: red;
        font-weight: 500;
        text-align: center;
    }
    
    .products span {
        font-weight: bold;
        color: red;
        font-size: large;
        text-align: center;
    }
    
    .products .menu-img {
        height: 256px;
        width: 100%;
    }
    
    .offers-section .card {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        background-image: url('../img/giphy\ \(1\).webp');
        border-radius: 20px;
        border: none;
        font-weight: bold;
        margin-bottom: 2%;
        color: black;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.20);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    
    .offers-section .specail-offer {
        background: #FFFFFF;
        background: -moz-linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
        background: -webkit-linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
        background: linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
        background-image: url('../img/giphy\ \(2\).gif');
    }
    
    .awesome {
        color: #313131;
        -webkit-animation: colorchange 20s infinite alternate;
    }
    
    @-webkit-keyframes colorchange {
        0% {
            color: blue;
        }
        10% {
            color: #8e44ad;
        }
        20% {
            color: #1abc9c;
        }
        30% {
            color: #d35400;
        }
        40% {
            color: blue;
        }
        50% {
            color: #34495e;
        }
        60% {
            color: blue;
        }
        70% {
            color: #2980b9;
        }
        80% {
            color: #f1c40f;
        }
        90% {
            color: #2980b9;
        }
        100% {
            color: pink;
        }
    }
    
    .best-sellers .carousel-item .card {
        border-radius: 20px;
        border: none;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.20);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    
    .best-cief .carousel-item .card {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        background-image: url('../img/giphy\ \(3\).gif');
        border-radius: 20px;
        border: none;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.20);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    
    .safety-section h2 {
        background-color: transparent;
    }
    
    .safety-section .card {
        border-radius: 20px;
        border: none;
        background-color: transparent;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.20);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    
    .our-place {
        text-align: center;
    }
    
    .our-place .card {
        border: none;
    }
    
    .our-place .carousel-item {
        margin-bottom: 2%;
    }
    
    .contact-us {
        background-image: url('../img/giphy.gif');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .contact-us .card {
        border-radius: 20px;
        border: none;
        margin-bottom: 3%;
    }
    
    .contact-us .list-group li {
        border: none;
        list-style: none;
        text-decoration: none;
    }
    
    #Order-section a {
        font-size: 2.5rem;
        border: #2980b9 solid 4px;
        border-radius: 25px;
        animation: colorchange 20s infinite alternate;
    }
    
    .why-us-section .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
        -webkit-animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
    
    @-webkit-keyframes up-down {
        0% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    
    @keyframes up-down {
        0% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .intro-section .carousel-item img {
            width: max-content;
        }
        .products span,
        h5 {
            font-size: medium;
        }
        .products .nav-link {
            font-size: large;
            font-weight: 700;
            background: #FFFFFF;
            text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
        }
        .offers-section .card {
            width: 100%;
        }
        .contact-us {
            background-size: cover;
        }
        .contact-us iframe {
            width: auto;
            height: fit-content;
        }
        .products .card {
            height: 85%;
        }
        #myTabContent {
            background-size: cover;
        }
    }