* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rakkas', cursive;
    text-align: center;
}

body {
    font-family: 'Rakkas', cursive;
    direction: rtl;
    text-align: center;
}

.navbar-brand span {
    font-size: 2rem;
}

.navbar {
    padding: 0%!important;
}

.navbar .navbar-nav li {
    margin-right: 1%;
    font-size: larger;
}

.navbar .dropdown .dropdown-menu a {
    text-align: center;
    border: none;
}

.why-us-section .card {
    border: none;
    margin: 0;
}

.why-us-section img {
    text-align: center;
    margin: 0 auto;
}

.products-section .list-group-item {
    border: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    transition: all ease-in-out 3s;
    margin: 0 0;
}

.products-section .list-group-item:hover {
    background-color: blue;
    color: white;
    transition: all ease-in 1s;
}

.products-section .card {
    border: none;
    margin-bottom: 2%;
}

.products-section span {
    font-weight: bold;
    color: blue;
}

.offers-section .card {
    border: none;
    font-weight: bold;
    margin-bottom: 2%;
    color: black;
}

.awesome {
    color: #313131;
    font-size: 45px;
    font-weight: bold;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: blue;
    }
    10% {
        color: #8e44ad;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: blue;
    }
    50% {
        color: #34495e;
    }
    60% {
        color: blue;
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #f1c40f;
    }
    90% {
        color: #2980b9;
    }
    100% {
        color: pink;
    }
}

.best-sellers .carousel-item .card {
    border: none;
}

.contact-us .card {
    border: none;
}

.contact-us .list-group li {
    border: none;
    list-style: none;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .intro-section .carousel-item img {
        width: max-content;
    }
    .products-section .list-group .list-group-item {
        width: 75px;
    }
    .products-section .list-group {
        font-size: 0.9rem;
        font-weight: 900;
    }
    .products-section .card h5 {
        font-size: 1.3rem;
        font-weight: 900;
    }
    .products-section .card p {
        font-size: 1.3rem;
        font-weight: 500;
    }
    .offers-section .card {
        width: 100%;
    }
    .contact-us iframe {
        width: fit-content;
        height: fit-content;
    }
}