    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: 'Rakkas', cursive;
        text-align: center;
    }
    
    body {
        font-family: 'Rakkas', cursive;
        direction: rtl;
        text-align: center;
    }
    
    .navbar-brand span {
        font-size: 2rem;
    }
    
    .navbar {
        padding: 0%!important;
    }
    
    .navbar .navbar-nav li {
        margin-right: 1%;
        font-size: larger;
    }
    
    .navbar .dropdown .dropdown-menu a {
        text-align: center;
        border: none;
    }
    
    .why-us-section h2 {
        color: #444444;
        background: #FFFFFF;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }
    
    .why-us-section .card {
        border: none;
        margin: 0;
    }
    
    .why-us-section img {
        text-align: center;
        margin: 0 auto;
    }
    
    .products h2 {
        color: darkblue;
        background: #FFFFFF;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }
    
    .products .card {
        border: none;
        margin-bottom: 1%;
    }
    
    .products img {
        border-radius: 50%;
    }
    
    .products span {
        font-weight: bold;
        color: blue;
    }
    
    .products-shadow {
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.20);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    
    .offers-section h2 {
        color: darkblue;
        background: #FFFFFF;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }
    
    .offers-section .card {
        border: none;
        font-weight: bold;
        margin-bottom: 2%;
        color: black;
    }
    
    .offers-section .specail-offer {
        background: #FFFFFF;
        background: -moz-linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
        background: -webkit-linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
        background: linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
    }
    
    .awesome {
        color: #313131;
        font-weight: bold;
        -webkit-animation: colorchange 20s infinite alternate;
    }
    
    @-webkit-keyframes colorchange {
        0% {
            color: blue;
        }
        10% {
            color: #8e44ad;
        }
        20% {
            color: #1abc9c;
        }
        30% {
            color: #d35400;
        }
        40% {
            color: blue;
        }
        50% {
            color: #34495e;
        }
        60% {
            color: blue;
        }
        70% {
            color: #2980b9;
        }
        80% {
            color: #f1c40f;
        }
        90% {
            color: #2980b9;
        }
        100% {
            color: pink;
        }
    }
    
    .best-sellers h2 {
        color: darkblue;
        background: #FFFFFF;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }
    
    .best-sellers .carousel-item .card {
        border: none;
    }
    
    .safety-section h2 {
        color: darkblue;
        background: #FFFFFF;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }
    
    .safety-section .card {
        border: none;
    }
    
    .contact-us h2 {
        color: darkblue;
        background: #FFFFFF;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }
    
    .contact-us .card {
        border: none;
    }
    
    .contact-us .list-group li {
        border: none;
        list-style: none;
        text-decoration: none;
    }
    
    #Order-section a {
        font-size: 2rem;
        border: #2980b9 solid 4px;
        border-radius: 25px;
        animation: colorchange 20s infinite alternate;
    }
    
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .intro-section .carousel-item img {
            width: max-content;
        }
        .products .nav-link {
            margin: auto;
            color: darkblue;
            background: #FFFFFF;
            text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
        }
        .offers-section .card {
            width: 100%;
        }
        .contact-us iframe {
            width: auto;
            height: fit-content;
        }
        #dishes img:hover {
            transform: scale( 2);
        }
        .products .card {
            height: 85%;
        }
    }