* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    text-align: center;
}

body {
    font-family: 'Markazi Text', serif;
}

.intro-section .intro-text {
    position: absolute;
    top: 40%;
    left: 15%;
    font-weight: 900;
    font-size: 4rem;
    color: crimson;
}

.why-us-section .card {
    border: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    transition: all ease-in 1s;
}

.why-us-section i {
    font-size: 2rem;
    color: blue;
}

.why-us-section img {
    width: 64px;
    height: 64px;
    text-align: center;
    margin: 0 auto;
}

.products-section .list-group-item {
    border: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    transition: all ease-in-out 3s;
}

.products-section .list-group-item:hover {
    background-color: blue;
    color: white;
    transition: all ease-in 1s;
}

.products-section .card {
    border: none;
    margin-bottom: 2%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
}

.products-section span {
    font-weight: bold;
    color: blue;
}

.offers-section .card {
    border: none;
    font-weight: bold;
    background: -moz-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: -webkit-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: linear-gradient(to right, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    margin: 3%;
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
}

.awesome {
    color: #313131;
    font-size: 45px;
    font-weight: bold;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: blue;
    }
    10% {
        color: #8e44ad;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: blue;
    }
    50% {
        color: #34495e;
    }
    60% {
        color: blue;
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #f1c40f;
    }
    90% {
        color: #2980b9;
    }
    100% {
        color: pink;
    }
}

.contact-us .card {
    border: none;
}

.contact-us .list-group li {
    border: none;
    list-style: none;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .intro-section .intro-text {
        position: absolute;
        top: 40%;
        left: 10%;
        font-weight: 800;
        font-size: small;
    }
    .products-section .list-group {
        font-size: 0.75rem;
        font-weight: 900;
    }
    .offers-section .card {
        width: 100%;
    }
    .contact-us iframe {
        width: fit-content;
        height: fit-content;
    }
}