* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rakkas', cursive;
    text-align: center;
}

body {
    font-family: 'Rakkas', cursive;
    direction: rtl;
    text-align: center;
}

.navbar-brand span {
    font-size: 2rem;
}

.navbar {
    padding: 0%!important;
}

.navbar .navbar-nav li {
    margin-right: 1%;
    font-size: larger;
}

.navbar .dropdown .dropdown-menu a {
    text-align: center;
    border: none;
}

.why-us-section .card {
    border: none;
    margin: 0;
}

.why-us-section img {
    text-align: center;
    margin: 0 auto;
}

.products .card {
    border: none;
    margin-bottom: 1%;
}

.products span {
    font-weight: bold;
    color: blue;
}

.offers-section .card {
    border: none;
    font-weight: bold;
    margin-bottom: 2%;
    color: black;
}

.offers-section .specail-offer {
    background: #FFFFFF;
    background: -moz-linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
    background: -webkit-linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
    background: linear-gradient(45deg, #FFFFFF 0%, #E6E4DA 50%, #C5B7AD 100%);
}

.awesome {
    color: #313131;
    font-size: 45px;
    font-weight: bold;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: blue;
    }
    10% {
        color: #8e44ad;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: blue;
    }
    50% {
        color: #34495e;
    }
    60% {
        color: blue;
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #f1c40f;
    }
    90% {
        color: #2980b9;
    }
    100% {
        color: pink;
    }
}

.best-sellers .carousel-item .card {
    border: none;
}

.contact-us .card {
    border: none;
}

.contact-us .list-group li {
    border: none;
    list-style: none;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .intro-section .carousel-item img {
        width: max-content;
    }
    .products .nav-link {
        padding: 4px;
        margin: auto;
    }
    .offers-section .card {
        width: 100%;
    }
    .contact-us iframe {
        width: fit-content;
        height: fit-content;
    }
}