* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    text-align: center;
}

body {
    font-family: 'Markazi Text', serif;
}

.intro-section .intro-text {
    position: absolute;
    top: 40%;
    left: 15%;
    font-weight: 900;
    font-size: 4rem;
    color: crimson;
}

.why-us-section .card {
    border: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    transition: all ease-in 1s;
}

.why-us-section i {
    font-size: 2rem;
    color: blue;
}

.products-section .list-group-item {
    border: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    transition: all ease-in-out 3s;
}

.products-section .list-group-item:hover {
    background-color: blue;
    color: white;
    transition: all ease-in 1s;
}

.products-section .card {
    border: none;
    margin-bottom: 2%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
}

.contact-us .card {
    border: none;
}

.contact-us .list-group li {
    border: none;
    list-style: none;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .intro-section .intro-text {
        position: absolute;
        top: 40%;
        left: 10%;
        font-weight: 800;
        font-size: small;
    }
    .contact-us iframe {
        width: fit-content;
        height: fit-content;
    }
}